<h1>Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Data type</th>
      <th>Predicate</th>
      <th>Target value</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.name %></td>
        <td><%= condition.data_type_id %></td>
        <td><%= condition.predicate %></td>
        <td><%= condition.target_value %></td>
        <td><%= condition.start_time %></td>
        <td><%= condition.end_time %></td>
        <td><%= link_to 'Show', condition %></td>
        <td><%= link_to 'Edit', edit_admin_condition_group(condition) %></td>
        <td><%= link_to 'Destroy',  admin_condition_path(condition), data: { turbo: :true, "turbo-method": "delete" }, class: "btn btn-outline-danger" %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condition', new_condition_path %>
