<h1>
	Statistics
	<div class="float-right">
		<div class="btn-group">
		  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <%= icon("fas", "calendar", class: "mr-4") %>
		  </button>
		  <div class="dropdown-menu dropdown-menu-right">
		    <%= link_to "Today", build_samples_path(action_name, :today), class: "dropdown-item #{@date_filter == "today" ? 'active' : '' }" %>
		    <div class="dropdown-divider"></div>
		    <%= link_to "Last week", build_samples_path(action_name, :last_week), class: "dropdown-item #{@date_filter == "last_week" ? 'active' : '' }" %>
		    <%= link_to "Last month", build_samples_path(action_name, :last_month), class: "dropdown-item #{@date_filter == "last_month" ? 'active' : '' }" %>
		    <%= link_to "Last year", build_samples_path(action_name, :last_year), class: "dropdown-item #{@date_filter == "last_year" ? 'active' : '' }" %>
		    <div class="dropdown-divider"></div>
		    <%= link_to "All time", build_samples_path(action_name, :all_time), class: "dropdown-item #{@date_filter == "all_time" ? 'active' : '' }" %>
		  </div>
		</div>
	</div>
</h1>

<hr>

<nav class="nav">
  <%= link_to "Rooms", rooms_samples_path(date_filter: @date_filter), class: "nav-link" %>
  <%= link_to "Harvest", harvest_samples_path(date_filter: @date_filter), class: "nav-link" %>
  <%= link_to "System", general_samples_path(date_filter: @date_filter), class: "nav-link active" %>
</nav>

<hr>