<div id="observation-container">
  <% form_path = subject ? [grow, subject, observation] : [grow, observation] %>
  <%= nested_form_for form_path, html: {class: "col-md-12 col-lg-8 mx-auto"} do |form| %>
    <h1>
      <%= observation.new_record? ? "New Observation" : "Editing Observation" %>
      <div class="float-end">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </h1>

    <hr>

    <% if observation.errors.any? %>
      <div class="alert alert-danger" id="error_explanation">
        <h4><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h4>
        <ul>
        <% observation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <turbo-frame id="grows_select_frame">
      <div class="mb-3 row">
        <%= form.label "Grow: ", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.select :grow_id, options_from_collection_for_select(Grow.where.not(grow_status: [:done, :aborted]), "id", "name", params[:grow_id]), { prompt: "None", data: { turbo_frame: "grows_select_frame" } }, class: "form-control grows_select", data: { turbo_action: "advance" } %>
        </div>
      </div>
    </turbo-frame>

    <turbo-frame id="subjects_select_frame">
      <div id="subjects_select">
        <!-- Initial subject options fetched and replaced through Turbo Frame -->
      </div>
    </turbo-frame>

    <div class="mb-3 row">
      <%= form.label "Room: ", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.select :room_id, options_from_collection_for_select(Room.all, "id", "name", params[:room_id]), { prompt: "None" }, class: "form-control" %>
      </div>
    </div>

    <turbo-frame id="resource_select_frame">
      <%= form.fields_for :resource_datas, @resource_datas do |ff| %>
        <%= ff.hidden_field :observation_id, value: observation.id %>

        <div class="mb-3">
          <div class="row">
            <div class="col-12 col-lg-2">
              <%= ff.label "Category" %>
              <%= ff.select :category_id, options_from_collection_for_select(Category.all, "id", "name", ff.object.new_record? ? ff.object.category_id : ff.object.resource.category_id), {}, class: "select_category form-control mb-2", data: { turbo_frame: "resource_select_frame" } %>
            </div>
            <div class="col-12 col-lg-3">
              <%= ff.label "Resource" %>
              <%= ff.select :resource_id, options_for_select(Resource.all.map {|p| [p.name, p.id, {'data-units' => p.units.to_json, 'data-choices' => p.choices.to_json }]}, ff.object.resource_id), {}, class: "select_resource form-control mb-2" %>
            </div>
            <div class="col-12 col-lg-3">
              <%= ff.label "Value" %>
              <% if ff.object.resource && !ff.object.resource.choices.empty? %>
                <%= ff.select :value, options_for_select(ff.object.resource.choices, ff.object.value), {}, class: "form-control" %>
              <% else %>
                <%= ff.text_field :value, value: ff.object.value, class: "form-control" %>
              <% end %>
            </div>
            <div class="col-12 col-lg-3">
              <%= ff.label "Unit" %>
              <%= ff.select :unit, options_for_select([ff.object.unit], ff.object.unit), {}, class: "form-control", style: "display: none;" %>
            </div>
            <div class="col-2 col-lg-1">
              <%= ff.label " " %>
              <%= ff.link_to_remove '<i class="bi-trash h4"></i>'.html_safe, class: "btn btn-sm btn-block btn-danger mt-2" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= form.link_to_add 'Add resource', :resource_datas, class: "btn btn-sm btn-success" %>
    </turbo-frame>

    <hr>

    <div class="mb-3">
      <%= form.text_area :body, class: "form-control", rows: 6, placeholder: "Add a comment here…" %>
    </div>

    <div class="mb-3">
      <%= form.file_field :pictures, multiple: true, accept: "image/*", capture: "camera", data: {role: :none} %>

      <% observation.pictures.each do |p| %>
        <%= image_tag url_for(p), class: "img-thumbnail" %><br>
      <% end %>
    </div>

    <hr>

    <div class="mb-3">
      <%= form.fields_for :issues, @issues do |ff| %>
        <%= ff.hidden_field :observation_id, value: observation.id %>

        <div class="mb-3">
          <div class="row">
            <div class="col-12 col-lg-2">
              <%= ff.label "Status" %>
              <%= ff.select :issue_status, options_for_select(Issue.issue_statuses.keys.map { |e| [e.titleize, e]  }, ff.object.issue_status), {}, class: "form-control mb-2" %>
            </div>

            <div class="col-12 col-lg-3">
              <%= ff.label "Resource" %>
              <%= ff.select :resource_id, options_for_select(Resource.all.map {|p| [p.name, p.id, {'data-units' => p.units.to_json, 'data-choices' => p.choices.to_json }]}, ff.object.resource_id), {}, class: "select_resource form-control mb-2" %>
            </div>
            <div class="col-12 col-lg-2">
              <%= ff.label "Severity" %>
              <%= ff.select :severity, options_for_select(Issue.severities.keys.map { |e| [e.titleize, e]  }, ff.object.severity), {}, class: "form-control mb-2" %>
            </div>
            <div class="col-12 col-lg-2">
              <%= ff.label "Type" %>
              <%= ff.select :issue_type, options_for_select(Issue.issue_types.keys.map { |e| [e.titleize, e]  }, ff.object.issue_type), {}, class: "form-control mb-2" %>
            </div>
            <div class="col-2 col-lg-1">
              <%= ff.label " " %>
              <%= ff.link_to_remove '<i class="bi-trash h4"></i>'.html_safe, class: "btn btn-sm btn-block btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= form.link_to_add 'Add issue', :issues, class: "btn btn-sm btn-success" %>
    </div>
  <% end %>
</div>
