<div id="observation-container" data-controller="observation">
  <% form_path = subject ? [grow, subject, observation] : [grow, observation] %>
  <%= form_with model: observation, url: form_path, html: { class: "col-md-12 col-lg-8 mx-auto" }, data: { turbo: true } do |form| %>
    <h1>
      <%= observation.new_record? ? "New Observation" : "Editing Observation" %>
      <div class="float-end">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </h1>

    <hr>

    <% if observation.errors.any? %>
      <div class="alert alert-danger" id="error_explanation">
        <h4><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h4>
        <ul>
          <% observation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="mb-3 row">
      <%= form.label "Grow", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <% if params.key? 'grow_id' %>
          <input class="form-control" type="text" value="<%= @grow.name %>" aria-label="<%= @grow.name %>" disabled readonly>
          <%= form.hidden_field :grow_id, value: @grow.id %>
        <% else %>
          <%= form.select :grow_id, options_from_collection_for_select(
            Grow.where.not(grow_status: [:done, :aborted]), "id", "name", params[:grow_id]),
            {
              prompt: "None"
            },
            class: "form-control grows-select",
            data: {
              action: "change->observation#changeGrow",
              observation_target: "growSelect"
            },
            id: "grow-select"
          %>
        <% end %>
      </div>
    </div>

    <div class="mb-3 row">
      <%= form.label "Subject", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <% if @grow.subjects.empty? %>
          <input class="form-control" type="text" value="No subjects defined." aria-label="No subjects defined." disabled readonly>
        <% else %>
          <%= form.select :subject_ids,
            options_from_collection_for_select(
              Subject.joins(:grow).where.not(
                'grows.grow_status': [:done, :aborted]
              ).where(
                grow_id: @grow.id
              ),
              "id",
              "fullname", observation.subjects.map(&:id).presence || @subject&.id || params[:subject_ids]
            ),
            {},
            multiple: true,
            class: "form-control",
            data: { observation_target: "subjectSelect" },
            id: "subject-select"
          %>
        <% end %>
      </div>
    </div>

    <div class="mb-3 row">
      <%= form.label "Room", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.select :room_id, options_from_collection_for_select(Room.all, "id", "name", params[:room_id]), { prompt: "None" }, class: "form-control" %>
      </div>
    </div>
    <div class="mb-3">
      <%= form.text_area :body, class: "form-control", rows: 6, placeholder: "Add a comment here…" %>
    </div>
    <hr>
    <h4>Observation Resources</h4>
    <% if Resource.where.not(units: []).count > 0 %>
      <!-- ObservationResource Section -->
      <turbo-frame id="observation_resource">
        <div id="observation-resource-container">
          <%= form.fields_for :observation_resources do |ff| %>
            <%= render partial: 'admin/observation_resources/turbo_fields', locals: { ff: ff } %>
          <% end %>
        </div>
      </turbo-frame>
      <div class="mt-3">
        <%= button_tag "Add Observation Resource", formaction: new_admin_observation_resource_path, formmethod: :get, data: {turbo_stream: true}, class: 'btn btn-sm btn-success' %>
      </div>
    <% else %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-3">
              <h6>No Resources defined yet.</h6>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <hr>
    <h4>Issues</h4>
    <turbo-frame id="issue">
      <div id="issue-container">
        <%= form.fields_for :issues do |ff| %>
          <%= render partial: 'admin/issues/turbo_fields', locals: { ff: ff } %>
        <% end %>
      </div>
    </turbo-frame>
    <div class="mt-3">
      <%= button_tag "Add Issue", formaction: new_admin_issue_path, formmethod: :get, data: {turbo_stream: true}, class: 'btn btn-sm btn-success' %>
    </div>
    <hr>
    <div class="mb-3">
      <%= form.file_field :pictures, multiple: true, accept: "image/*", capture: "camera", data: { role: :none } %>
      <% observation.pictures.each do |p| %>
        <%= image_tag url_for(p), class: "img-thumbnail" %><br>
      <% end %>
    </div>
  <% end %>
</div>
