<%= form_with(model: [:admin, room], local: true, class: "col-md-12 col-lg-8 mx-auto") do |form| %>
  <h1>
    <%= room.new_record? ? "New Room" : "Editing Room" %>
    <div class="float-end">
      <% unless room.new_record? %>
        <%= link_to "Delete", [:admin, room], method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </h1>

  <hr>

  <% if room.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h4>
      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :room_type, class: 'form-label' %>
    <%= form.select :room_type, options_for_select(Room.room_types.keys.map { |e| [e.titleize, e] }, form.object.room_type), {}, class: "form-control" %>
  </div>

  <hr>

  <div class="mb-3">
    <%= form.label :length, class: 'form-label me-2' %>
    <%= form.number_field :length, class: "form-control me-2 d-inline-block" %>

    <%= form.label :width, class: 'form-label me-2' %>
    <%= form.number_field :width, class: "form-control me-2 d-inline-block" %>

    <%= form.label :height, class: 'form-label me-2' %>
    <%= form.number_field :height, class: "form-control d-inline-block" %>
  </div>

  <hr>

  <div class="mb-3">
    <%= form.label "Scenarios", class: 'form-label' %><br>
    <%= form.collection_check_boxes :scenario_ids, Scenario.where(enabled: true), "id", "name" do |ff| %>
      <div class="form-check">
        <%= ff.check_box class: 'form-check-input' %>
        <%= ff.label class: 'form-check-label' %> <%= ff.object.name %>
      </div>
    <% end %>
  </div>
<% end %>
