<div class="col-md-12 col-lg-8 mx-auto">
  <h1>
    <% if strain.new_record? %>
      New
    <% else %>
      Edit

      <div class="float-end">
        <%= link_to 'Destroy', [:admin, strain], data: { turbo: :true, "turbo-method": "delete" }, class: "btn btn-outline-danger" %>
      </div>
    <% end %>
  </h1>
</div>
<%= form_with(model: [:admin, strain], local: true, class: "col-md-12 col-lg-8 mx-auto") do |form| %>
  <hr>

  <% if strain.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(strain.errors.count, "error") %> prohibited this strain from being saved:</h2>

      <ul>
      <% strain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :strain_type, class: 'form-label' %>
    <%= form.select :strain_type, options_for_select(Strain.strain_types.keys), {}, :class => "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :crosses, class: 'form-label' %>
    <%= form.number_field :crosses, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :breeder, class: 'form-label' %>
    <%= form.text_field :breeder, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :effects, class: 'form-label' %>
    <%= form.text_field :effects, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :ailments, class: 'form-label' %>
    <%= form.text_field :ailments, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :flavors, class: 'form-label' %>
    <%= form.text_area :flavors, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: 'form-label' %>
    <%= form.text_field :location, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :terpenes, class: 'form-label' %>
    <%= form.text_field :terpenes, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
