<%= form_with(model: [:admin, strain], local: true, class: "col-md-12 col-lg-8 mx-auto") do |form| %>
  <h1>
    <% if strain.new_record? %>
      New Strain
    <% else %>
      Editing Strain

      <div class="float-end">
        <%= link_to 'Destroy', [:admin, strain], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </h1>

  <hr>

  <% if strain.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(strain.errors.count, "error") %> prohibited this strain from being saved:</h2>

      <ul>
      <% strain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% fields = [
    { label: :name },
    { label: :description, type: :text_area },
    { label: :strain_type, type: :select, options: options_for_select(Strain.strain_types.keys) },
    { label: :crosses, type: :number_field },
    { label: :breeder },
    { label: :effects },
    { label: :ailments },
    { label: :flavors },
    { label: :location },
    { label: :terpenes }
  ] %>

  <% fields.each do |field| %>
    <div class="mb-3">
      <%= form.label field[:label], class: 'form-label' %>
      <%= form.send(field[:type] || :text_field, field[:label], field[:options] || {}, class: "form-control") %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
