<%= form_with(model: event, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :event_type, class: 'form-label' %>
    <%= form.number_field :event_type, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :message, class: 'form-label' %>
    <%= form.text_area :message, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :data, class: 'form-label' %>
    <%= form.text_field :data, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
