<h1>
  Data types
  <div class="float-end">
    <%= link_to new_admin_data_type_path, class: "btn btn-info d-flex align-items-center" do %>
      <i class="bi-plus my-1 h5" width= "1em" height="1em"></i>
      New
    <% end %>
  </div>
</h1>

<br>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Nb samples</th>
      <th width="140px"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_types.each do |data_type| %>
      <tr>
        <td><b><i class="bi-database h4 me-2"></i> <%= data_type.name %></b></td>
        <td class="text-center"><%= data_type.samples.count %></td>
        <td>
        	<%= link_to 'Edit', edit_admin_data_type_path(data_type), class: "btn btn-sm btn-outline-success" %>
          <%= button_to 'Destroy', [:admin, data_type], method: :delete, data: { turbo: :false }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
