<%= form_with(model: operation, local: true) do |form| %>
  <% if operation.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>
      <ul>
      <% operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :command, class: 'form-label' %>
    <%= form.text_field :command, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :delay, class: 'form-label' %>
    <%= form.number_field :delay, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :retries, class: 'form-label' %>
    <%= form.number_field :retries, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :device_id, class: 'form-label' %>
    <%= form.number_field :device_id, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :condition_gruop_id, class: 'form-label' %>
    <%= form.number_field :condition_gruop_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
