<%= form_with(model: [:admin, @grow, @harvest, batch], data: { turbo: false }, local: true, class: "col-md-12 col-lg-8 mx-auto", id: "admin-batches-form") do |form| %>
  <h1>
    <%= batch.new_record? ? "New Batch" : "Editing Batch" %>
    <div class="float-right">
      <%= link_to 'Destroy', [:admin, @grow, @harvest, batch], data: { turbo: :true, "turbo-method": "delete" }, class: "btn btn-outline-danger" %>
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </h1>

  <hr>

  <% if batch.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h4>
      <ul>
      <% batch.errors.messages.each do |message| %>
        <li><b><%= message.first.to_s.titleize %></b>: <%= message.last.join(", ") %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control col-12 col-md-6" %>
  </div>

  <div class="form-group">
    <%= form.label :batch_type %>
    <%= form.select :batch_type, options_for_select(Batch.batch_types.keys, form.object.batch_type), {}, class: "form-control col-12 col-md-3" %>
  </div>
  <div class="form-group">
    <%= form.label :grow %>
    <%= form.select :grow_id, options_from_collection_for_select(Grow.all, "id", "description", form.object.id), { include_blank: 'None' }, class: "form-select", data: { style: "btn-white", live_search: true, size: 10, title: "None" }, id: "grow-select" %>
  </div>
  <div class="form-group">
    <%= form.label :harvest %>
    <%= form.select :harvest_id, options_from_collection_for_select(Harvest.all, "id", "name", form.object.id), { include_blank: 'None' }, class: "form-select", data: { style: "btn-white", live_search: true, size: 10, title: "None" }, id: "grow-select" %>
  </div>

  <hr>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :total_weight %>
        <%= form.number_field :total_weight, class: "form-control col-md-8 col-12" %>
      </div>

      <div class="form-group">
        <%= form.label :batch_weight %>
        <%= form.number_field :batch_weight, class: "form-control col-md-8 col-12" %>
      </div>

      <div class="form-group">
        <%= form.label :batch_count %>
        <%= form.number_field :batch_count, class: "form-control col-md-8 col-12" %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= form.label :batch_price %>
        <%= form.number_field :batch_price, step: :any, class: "form-control col-md-8 col-12" %>
      </div>

      <div class="form-group">
        <%= form.label :price_per_weight %>
        <%= form.number_field :price_per_weight, step: :any, class: "form-control col-md-8 col-12" %>
      </div>
    </div>
  </div>

<% end %>

<%= javascript_tag do %>import './views/admin/batches/form';<% end %>
