<%= form_with(model: todo, local: true, id: 'todos-form', data: { turbo: false }) do |form| %>
  <% if todo.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h4>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id, class: "form-control" %>
  <%= form.hidden_field :todo_status, value: :todo, class: "form-control" %>

  <div class="mb-3">
    <%= form.label "Body", class: 'form-label' %>
    <%= form.text_area :body, autofocus: true, placeholder: "What to do here...", class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <%= form.label "Date", class: 'form-label' %>
        <%= form.text_field :date, value: fdate(form.object.start_date), class: "form-control", id: "todos-form-date-input", placeholder: "TT.MM.JJJJ" %>
      </div>
    </div>
  </div>

  <hr>

  <div class="mb-3">
    <%= form.check_box :notify_email, data: {toggle: "toggle", size: "sm"} %> <span class="me-3">Notify by email</span>
  </div>

  <div class="mb-3">
    <label>Renotify every:</label>
    <%= form.select :renotify_every_minute, options_for_select([["15 minutes", 15], ["30 minutes", 30], ["60 minutes", 60], ["12 hours", 720], ["24 hours", 1440], ["2 days", 2880], ["3 days", 4320]], form.object.renotify_every_minute), {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn w-100 btn-primary" %>
  </div>
<% end %>
