<div class="nested-form-condition-group-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="card p-4 mb-3">
    <div class="row">
      <div class="col-1">
        <div class="form-group d-flex">
          <%= f.check_box :enabled, data: {toggle: "toggle", size: "small"} %>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Condition name...", class: "form-control mx-2" %>
          <%= f.hidden_field :_destroy %>
        </div>
      </div>
    </div>
    <div data-controller="condition">
      <h5>Conditions</h5>
      <div class="mt-3">
        <template data-condition-target="template">
          <div class="condition-fields">
            <%= f.fields_for :conditions, Condition.new, child_index: 'NEWRECORD', f: f do |ff| %>
              <%= render "condition_fields", :f => ff %>
            <% end %>
          </div>
        </template>

        <div class="condition-fields">
          <%= f.fields_for :conditions do |ff| %>
            <%= render "condition_fields", f: ff %>
          <% end %>
        </div>
        <div data-condition-target="target"></div>
        <button type="button" data-action="condition#add" class="btn btn-success">Add Condition</button>
      </div>
    </div>
    <hr>
    <div data-controller="operation">
      <h5>Operations</h5>
      <div class="mt-3">
        <template data-operation-target="template">
          <div class="operation-fields">
            <%= f.fields_for :operations, Operation.new do |ff| %>
              <%= render "operation_fields", :f => ff %>
            <% end %>
          </div>
        </template>

        <%= f.fields_for :operations do |ff| %>
          <%= render "operation_fields", f: ff %>
        <% end %>

        <div data-operation-target="target"></div>
        <button type="button" data-action="operation#add" class="btn btn-success">Add Operation</button>
      </div>
    </div>
  </div>
</div>
