<%= form_with(model: [:admin, scenario], data: { turbo: false }, local: true, class: "col-md-12 col-lg-12 mx-auto") do |form| %>
  <% if @scenario.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4><%= pluralize(@scenario.errors.count, "error") %> prohibited this scenario from being saved:</h4>
      <ul>
      <% @scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <!-- Scenario Fields -->
    <div class="field mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.label :enabled, class: 'form-label' %>
      <%= form.check_box :enabled %>
    </div>
    <hr>
  </fieldset>

  <h3>Condition Groups</h3>
  <div id="condition_groups" class="mb-2">
    <%= form.fields_for :condition_groups do |ff| %>
      <%= render "condition_group_fields", :f => ff %>
    <% end %>
  </div>
  <%= link_to "Add Group", "condition_group_fields", class: "btn", data: {turbo_stream: true} %>
  <%= link_to "Add Question", formaction: new_admin_condition_group_path, formmethod: :get, data: {turbo_stream: true} %>

  <!-- Submit Button -->
  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
