<div class="sidebar text-white" id="sidebar" data-turbo-permanent data-controller="sidebar">
  <div class="sidebar-header p-4">
    <h5 class="mb-0">Magicbox Enhanced</h5>
  </div>

  <div class="sidebar-content mt-4" id="accordionSidebar">
    <ul class="nav flex-column">
      <%= sidebar_item dashboard_path, "Dashboard" do %>
        <i class="bi-speedometer h5 ms-1 me-2 pe-1"></i>
      <% end %>
      <li class="nav-item">
        <a href="#roomsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle" data-bs-parent="#accordionSidebar">
          <i class="bi-box ms-1 h5 me-2 pe-1"></i>
          Rooms
        </a>
      </li>
      <ul class="submenu collapse list-unstyled" id="roomsSubmenu" data-bs-parent="#accordionSidebar">
        <% Room.all.each do |room| %>
          <%= sidebar_item(room_path(room), room.name) do %>
            <i class="bi-box h6 ms-1 me-2 pe-1"></i>
          <% end %>
        <% end %>
      </ul>
      <%= sidebar_item(grows_path, "Grows") do %>
        <i class="bi-flower3 h5 ms-1 me-2 pe-1"></i>
      <% end %>
      <li class="nav-item">
        <a href="#infoSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="submenu dropdown-toggle" data-bs-parent="#accordionSidebar">
          <i class="bi-box ms-1 h5 me-2 pe-1"></i>
          Info
        </a>
      </li>
      <ul class="submenu collapse list-unstyled" id="infoSubmenu" data-bs-parent="#accordionSidebar">
        <%= sidebar_item(batches_path, "Batches") do %>
          <i class="bi-box h6 ms-1 me-2 pe-1"></i>
        <% end %>

        <%= sidebar_item(calendar_path, "Calendar") do %>
          <i class="bi-calendar h6 ms-1 me-2 pe-1"></i>
        <% end %>

        <%= sidebar_item(events_path, "Events") do %>
          <i class="bi-exclamation-triangle h6 ms-1 me-2 pe-1"></i>
        <% end %>

        <%= sidebar_item(harvests_path, "Harvests") do %>
          <i class="bi-box h6 ms-1 me-2 pe-1"></i>
        <% end %>

        <%= sidebar_item(journal_path, "Journal") do %>
          <i class="bi-newspaper h6 ms-1 me-2 pe-1"></i>
        <% end %>

        <%= sidebar_item(notifications_path, "Notifications", badge_count: current_user.unread_notifications_count) do %>
          <i class="bi-flag ms-1 h6 me-2 pe-1"></i>
        <% end %>

        <%= sidebar_item(rooms_samples_path, "Statistics") do %>
          <i class="bi-graph-up h6 ms-1 me-2 pe-1"></i>
        <% end %>

        <%= sidebar_item(todos_path, "To do's", badge_count: current_user.todos_count) do %>
          <i class="bi-clock h6 ms-1 me-2 pe-1"></i>
        <% end %>
      </ul>
      <% if current_user.admin? %>
        <li class="nav-item">
          <a href="#adminSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="submenu dropdown-toggle" data-bs-parent="#accordionSidebar">
            <i class="bi-tools ms-1 h5 me-2 pe-1"></i>
            Data
          </a>
        </li>
        <ul class="list-unstyled">
          <ul class="submenu collapse list-unstyled" id="adminSubmenu" data-bs-parent="#accordionSidebar">
            <%= sidebar_item(admin_alerts_path, "Alerts") do %>
              <i class="bi-exclamation-triangle h6 ms-1 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_categories_path, "Categories") do %>
              <i class="bi-box ms-1 h6 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_data_types_path, "Data-Types") do %>
              <i class="bi-database h6 ms-1 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_devices_path, "Devices") do %>
              <i class="bi-tools h6 ms-1 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_harvests_path, "Harvests") do %>
              <i class="bi-box ms-1 h6 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_resources_path, "Resources") do %>
              <i class="bi-box ms-1 h6 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_scenarios_path, "Scenarios") do %>
              <i class="bi-clock h6 ms-1 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_strains_path, "Strains") do %>
              <i class="bi-activity h6 ms-1 me-2 pe-1"></i>
            <% end %>

            <%= sidebar_item(admin_users_path, "Users") do %>
              <i class="bi-people h6 ms-1 me-2 pe-1"></i>
            <% end %>
          </ul>
        </ul>
        <li class="nav-item">
          <a href="#circuitsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="submenu dropdown-toggle" data-bs-parent="#accordionSidebar">
            <i class="bi-tools ms-1 h5 me-2 pe-1"></i>
            Circuits
          </a>
        </li>
        <ul class="list-unstyled">
          <ul class="submenu collapse list-unstyled" id="circuitsSubmenu" data-bs-parent="#accordionSidebar">
            <%= sidebar_item(admin_circuits_path, "Circuits") do %>
              <i class="bi-exclamation-triangle h4 ms-1 me-2 pe-1"></i>
            <% end %>
            <%= sidebar_item(admin_components_path, "Components") do %>
              <i class="bi-exclamation-triangle h4 ms-1 me-2 pe-1"></i>
            <% end %>
            <%= sidebar_item(admin_device_scripts_path, "Device-Scripts") do %>
              <i class="bi bi-file-earmark-code h4 ms-1 me-2 pe-1"></i>
            <% end %>
          </ul>
        </ul>
      <% end %>
      <% if current_user.admin? %>
        <% if user_signed_in? %>
          <%= sidebar_item(admin_settings_path, "Settings") do %>
            <i class="bi-gear ms-1 h5 me-2 pe-1"></i>
          <% end %>
          <%= sidebar_item(current_user, current_user.username) do %>
            <i class="bi-person ms-1 h5 me-2 pe-1"></i>
          <% end %>
        <% end %>
      <% end %>
      <div class="nav-item">
        <%= sidebar_item(destroy_user_session_path, 'Logoff') do %>
          <i class="bi-person ms-1 h5 me-2 pe-1"></i>
        <% end %>
      </div>
    </ul>
  </div>
</div>