<nav id="sidebar">
  <div class="sidebar-header">
    <h3 class="mt-1">
      <%= link_to root_path do %>
        <i class="bi-speedometer h4 text-success"></i>
        MagicBox Enhanced
      <% end %>
    </h3>
  </div>

  <div class="sidebar-body">
    <ul class="list-unstyled">
      <%= sidebar_item dashboard_path, "Dashboard" do %>
        <i class="bi-speedometer-alt h4 ms-1 me-2 pe-1"></i>
      <% end %>
    </ul>

    <ul class="list-unstyled">
      <li>
        <a href="#roomsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="bi-box ms-1 h4 me-2 pe-1"></i>
          Rooms
        </a>
        <ul class="collapse list-unstyled" id="roomsSubmenu">
          <% Room.all.each do |room| %>
            <%= sidebar_item(room_path(room), room.name) do %>
              <i class="bi-box h4 ms-1 me-2 pe-1"></i>
            <% end %>
          <% end %>
        </ul>
      </li>

      <%= sidebar_item(grows_path, "Grows") do %>
        <i class="bi-flower3 h4 ms-1 me-2 pe-1"></i>
      <% end %>
      <%= sidebar_item(batches_path, "Batches") do %>
        <%= icon "fas", "warehouse", class: "ml-1 mr-2 pr-1" %>
      <% end %>
    </ul>

    <ul class="list-unstyled">
      <%= sidebar_item(journal_path, "Journal") do %>
        <i class="bi-newspaper h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(calendar_path, "Calendar") do %>
        <i class="bi-calendar h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(todos_path, "To do's", badge_count: current_user.todos_count) do %>
        <i class="bi-clock h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(notifications_path, "Notifications", badge_count: current_user.unread_notifications_count) do %>
        <i class="bi-flag ms-1 h4 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(events_path, "Events") do %>
        <i class="bi-exclamation-triangleh4  ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(rooms_samples_path, "Statistics") do %>
        <i class="bi-graph-up h4 ms-1 me-2 pe-1"></i>
      <% end %>
    </ul>

    <% if current_user.is_admin? %>
    <ul class="list-unstyled">
      <%= sidebar_item(admin_scenarios_path, "Scenarios") do %>
        <i class="bi-clock h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(admin_devices_path, "Devices") do %>
        <i class="bi-tools h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(admin_alerts_path, "Alerts") do %>
        <i class="bi-exclamation-triangle h4 ms-1 me-2 pe-1"></i>
      <% end %>
    </ul>

    <ul class="list-unstyled">
      <%= sidebar_item(admin_categories_path, "Categories") do %>
        <i class="bi-box ms-1 h4 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(admin_resources_path, "Resources") do %>
        <i class="bi-tint ms-1 h4 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(admin_data_types_path, "Data types") do %>
        <i class="bi-database h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(admin_strains_path, "Strains") do %>
        <i class="bi-activity h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(admin_users_path, "Users") do %>
        <i class="bi-people h4 ms-1 me-2 pe-1"></i>
      <% end %>

      <%= sidebar_item(admin_settings_path, "Settings") do %>
        <i class="bi-gear ms-1 h4 me-2 pe-1"></i>
      <% end %>
    </ul>
    <% end %>

    <ul class="list-unstyled">
      <%= sidebar_item(current_user, current_user.username) do %>
        <i class="bi-person ms-1 h4 me-2 pe-1"></i>
      <% end %>

      <li>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="bi-box-arrow-right h4 ms-1 me-2 pe-1"></i>
            Disconnect
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
