<!DOCTYPE html>
<html>
  <head>
    <title>Magicbox Enhanced</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="turbo-cache-control" content="no-preview">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="d-flex">
        <!-- Sidebar  -->
        <div class="sidebar-wrapper">
          <%= render 'layouts/sidebar' %>
        </div>

        <!-- Main Content -->
        <%= turbo_frame_tag "main-content" do %>
          <div class="main-wrapper flex-grow-1">
            <%= render 'layouts/navbar' %>

            <main class="content p-3">
              <%= yield %>
            </main>
          </div>
        <% end %>
      </div>

      <!-- Dark Overlay element -->
      <div class="overlay"></div>
    <% else %>
      <h1 class="text-center mt-5" style="font-size: 5rem;">
        <%= icon "bi-flower1 h4", class: "text-success" %>
      </h1>
      <h1 class="text-center mt-1">
        MagicBox Enhanced
      </h1>
      <%= yield %>
    <% end %>
  </body>
</html>
